node_modules/

dist/
build/
*.tsbuildinfo

logs
*.log
log.txt
coverage/

.env
.env.local
.env.development
.env.test
.env.production

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.eslintcache

coverage/
jest-cache/
jest-test-r
